################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/borrar
/borrar
/.vs/Hello-world/FileContentIndex/3af5fc14-472f-4f58-884d-4a305dad8a8d.vsidx
/.vs/Hello-world/FileContentIndex/3af5fc14-472f-4f58-884d-4a305dad8a8d.vsidx
*.vsidx
